{% comment %}
    Gallery, a bootstrap grid of images
    Options:
    - "filter" = logic statement (in liquid) that filters out most of the collection to display a only select items. 
    - "header" = card header text (in bar above card content)
    - "title" = card title text inside card content area
    - "objectid" = the given object (photo or youtube) will create a card cap image
    - "width" will use Bootstrap sizing to set the % size, choose from "25", "50", "75", or "100"
    - "float" will use Bootstrap float utility to add float, choose from "left" or "right"
{% endcapture %}
{%- endcomment -%}

{%- assign items_el = site.data.trails -%}
{%- assign items_el = items_el | where_exp: 'item','item.trailurl contains include.trail' -%}
{% assign items_by_elevation = items_el | sort: "elevation" %}
{% assign divisive = 200 %}
{% assign last = items_by_elevation.last %}
{% assign first = items_by_elevation.first %}
{% assign bottom_elevation = first.elevation | times: 1 %}
{% assign top_elevation = last.elevation | times: 1 %}
{% assign height = top_elevation | minus: bottom_elevation %}




<div class="row my-2 py-2">
  
    <svg height="{{top_elevation | divided_by: divisive | plus: 60  }}" width="100%" style="overflow:visible;">
        <polyline points="{% for i in items_el %}{% assign next = items_el[forloop.index] %}{{forloop.index0 | times: 50}},{{top_elevation | minus: i.elevation | divided_by: divisive  }} {% endfor %}"
        style="fill:none;stroke:black;stroke-width:3" />
         
          <!-- Mark relevant points -->
          <g stroke="black" stroke-width="3" fill="black">
            {% for i in items_el %} <circle id="pointA" cx="{{forloop.index0 | times: 50}}" cy="{{top_elevation | minus: i.elevation | divided_by: divisive  }}" r="3" data-toggle="tooltip" data-placement="right" title="{{i.title}}, {{i.elevation}}ft"/>
            {% endfor %}
          </g>
          <!-- Label the points -->
          <g font-size="15" font-family="sans-serif" fill="black" stroke="none" text-anchor="start">
            {% for i in items_el %}{% if i.objectid == first.objectid %}<text x="{{forloop.index0 | times: 50 | plus: 7}}" y="{{top_elevation | minus: i.elevation | divided_by: divisive | plus: 7  }}" ><a href="{{ include.trail | prepend: 'trails/' | relative_url | append: '.html?id=' | append: i.objectid }}">{{i.title}}, {{i.elevation}}ft</a></text>
            {% elsif i.objectid == last.objectid%}<text x="{{forloop.index0 | times: 50 | plus: 7}}" y="{{top_elevation | minus: i.elevation | divided_by: divisive | minus: 7}}" ><a href="{{ include.trail | prepend: 'trails/' | relative_url | append: '.html?id=' | append: i.objectid }}">{{i.title}}, {{i.elevation}}ft</a></text>{% else%} {%endif%}
            {% endfor %}
          </g>
          Sorry, your browser does not support inline SVG.
        </svg>
    
</div>

