{% if page.layout == "home-default" and site.data.theme.featured-image %}
<style>
    .backgrounds {
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: -1;
}
#home-banner {
    background-image: url('{% include image/featured-image.html %}');
    background-size: cover;
    width: 100%; 
    height: 100%;
    background-repeat: no-repeat;
    background-position: {{ site.data.theme.home-banner-image-position | default: 'center' }};
   
}
#home-title-box {
    padding-top: {{ site.data.theme.home-title-y-padding | default: '5em' }};
    padding-bottom: {{ site.data.theme.home-title-y-padding | default: '5em' }};
}
.titleline{font-size:90px; }
.titleandtag {position: fixed; bottom: 0%; width:100%}
.cdil-top {
    position: fixed;
    top: 5px;
    right: 5px !important;
}
.fake-image-map{z-index: 100;
position: fixed;
bottom: 0;
right: 10%;
height: 500px;
width: 600px;
a{height 100%;width: 100%;}}
@media screen and (max-width: 576px) {
    #home-title-box {
        padding-top: 5em;
        padding-bottom: 5em; 
    }
    .titleline{font-size:55px; position: fixed; top: 10%; left: 10%; }
    .tagline{font-size:30px;position: fixed; bottom: 15px;    left: 10%; margin-right: 10px;}
    .fake-image-map{
        height: 800px;
        width:100%;
        left:50%;
    }
}




</style>
<div class="backgrounds">
<div id="home-banner" class="container-fluid mb-0 p-0">
    <div id="home-title-box" >
        <div class=" pl-5
        pb-2 w-100 col-12 text-dark titleandtag" >
            <h1 class="display-4 titleline mb-0"  id="titleline"><a class="text-dark" title="error no caribou" href="error.html" >{{ site.title }}</a></h1>
           <!--{% if site.tagline %}<p class="mb-0 h1 tagline">{{ site.tagline }}</p>{% endif %}--> 
        </div>
    </div>
   <div class="fake-image-map">
        <small><a class="text-info " href="error.html" title="error no caribou">
            <svg class="chart" width="100%" height="100%" style="overflow: visible">
         <rect x="0" y="0" width="100%" height="100%" fill="transparent"></rect></svg></a></small>
    </div>
</div>
</div>
{%- else -%}
{% unless page.layout == 'item' %}{% include cdiltop.html %}{% endunless %}
    
{%- endif -%}