<!-- Modal -->

<div class="modal fade" id="gallery-modal" tabindex="-1" role="dialog" aria-labelledby="NavigationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h3 text-center w-100" id="ProjectExhibitAboutModalLabel">About Storying Extinction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-9 p-5">

                        <p><b><em>Storying Extinction: Responding to the Loss of North Idaho's Mountain Caribou</em></b> is a multidisciplinary digital humanities project that represents community response to the recent extirpation (2019) of southern mountain caribou from the South Selkirk mountains of North Idaho—the last caribou to inhabit the coterminous United States. </p>

                        <p>The local extinction served as the exigence for a GIS-based deep map, or spatial narrative, which documents the interaction of human and more-than-human communities in North Idaho through geolocated oral histories of caribou encounters, game camera footage of species currently inhabiting former caribou habitat, and various historical documents about caribou existence in the South Selkirks. </p>

                        <p>This exhibit features the entirety of the Storying Extinction digital collection. Each item is represented above its geographical location as represented via this Leaflet (a Javascript mapping library) application. By clicking on the buttons to the right or left of the screen, a user moves through the collection and across the map. For the exhibit, we also added a feature where the map will move onto a new object every 20 seconds.</p>

                        <h2>Credits and Support</h2>

                        <p>
                            The web exhibit and project were created by Jack Kredell, Christopher Lamb, and Devin Becker @ the Center for Digital Inquiry & Learning (CDIL) over the course of two years (June 2020 - February 2022). Support for the project was furnished by the University of Idaho Library via a CDIL Graduate Student Fellowship.
                        </p>
                        <div class="mt-5 mx-auto">
                            <img src="{{ '/assets/img/ui_library_horizontal.png' | relative_url }}" alt="Univerity of Idaho Library Logo" class="img-fluid col-6 mx-auto" style="max-width: 300px" />
                            <img src="{{ '/assets/img/cdil.png' | relative_url }}" alt="Center for Digital Inquiry and Learning Logo" class="img-fluid col-6 mx-auto" style="max-width: 300px" />
                        </div>
                    </div>
                    <div class="col-md-3 py-5 pr-5">


                        <p>For more information and to see the entire digital exhibit, please visit https://cdil.lib.uidaho.edu/storying-extinction/about.html or use the QR code below.</p>
                        <img src="{{ '/assets/img/qr-code.png' | relative_url }}" alt="a QR code that takes one to the about page of the STorying Extinction project." class="img-fluid my-5" />
                        <p>The website features several interpretive essays and features that supplements and contextualizes the material featured on the map.</p>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="text-center">

        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>
</div>
</div>