{% assign navpage = site.data.pages | where_exp: 'item', 'item.relative_link == page.url' | first %}
<!--NEXT BUTTONS-->
<div id="item-nav">
    <div class="d-none d-md-block">
        <!-- {{navpage.prevtitle}} {{page.title}} {{navpage.title}}-->
      <a id="back-button" onclick="newRecord(back);" href="{{navpage.prevlink | relative_url }}" alt="{{navpage.prevtitle}}" data-toggle="tooltip" data-placement="top"  title="{{navpage.prevtitle}}" alt="{{navpage.nexttitle}}" class="previous btn btn-lg btn-outline-info" style="font-size: 50px;"  >&laquo;</a>
        <a id="next-button" onclick="newRecord(forward);" href="{{navpage.nextlink | relative_url }}" alt="{{navpage.nexttitle}}" data-toggle="tooltip" data-placement="top" title="{{navpage.nexttitle}}" alt="{{navpage.nexttitle}}" class="next btn btn-lg btn-outline-info" style="font-size: 50px;">&raquo;</a>
    </div>
</div>
<script>
     /* add back forward key press */
        document.onkeydown = function(evt) {
        evt = evt || window.event;
        switch (evt.keyCode) {
            case 37:
            document.getElementById("back-button").click();
                break;
            case 39:
            document.getElementById("next-button").click();
                break;
        }};
</script>