.cdil-top{
    top: 0px;
}
.cdil-top img{
    height:40px;
    width: auto;
}



.modal-dialog {
    max-width: 65%;
    margin: 1.75rem auto;
    @media (max-width: 760px) {
         max-width: 95%;
    }
}


.btn-outline-dark:hover {


    fill: #fff;

}

.leaflet-top {
    top: 50px;
}
