<!doctype html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body>
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    {% include icons-embed.html %}

    <main id="maincontent" role="main">
      {{ content }}
    </main>
    {% include feature/nav-modal.html %}
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
{% unless page.url contains "mapitem.html" or page.layout contains "trail" %}    {% include nextbuttons.html %} {% endunless %}
  </body>
</html>