<!doctype html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body>
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    <div class="cdil-top float-left pt-3 pl-3 pb-1 pr-1 mt-n3 ml-n3"><a href="https://cdil.lib.uidaho.edu/" target="_blank" rel="noopener" title="Center for Digital Inquiry and Learning (CDIL) Logo"><img src="{{ '/assets/img/cdil.png' | relative_url }}" class="img-fluid" alt="CollectionBuilder logo" ></a></div>

    {% include collection-banner.html %}
  </body>
</html>