---
layout: default
---
<div class="container tufte-content">
    <article class="pt-0">   
        <section>
    {{ content }}
        </section>
    </article>
</div>

{% if page.url == "/about.html" %}
{% include about/credits.html %}
{% endif %}

{% capture the_collection %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
  {% assign document = site[the_collection] %}
{% endif %}

{% for links in document %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexttitle = next.title %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}




<div class="container-fluid">
    <div class="row">
    <div class="col-6 justify-content-start" style="position: fixed; top:75%;left:10px;z-index:100;"> 
        {% if prevurl %}<a class="btn btn-lg btn-outline-info" href="{{ prevurl }}" data-toggle="tooltip" data-placement="top"  title="Previous: {{ prevtitle }}" alt="Previous: {{ prevtitle }}" ><<</a>{% endif %}
    </div>
    <div class="col-6 justify-content-end text-right" style="position: fixed; top:75%;right:10px;z-index:100;">
        {% if nexturl %}<a class="btn btn-lg btn-outline-info" href="{{ nexturl }}" alt="Next: {{ nexttitle }}" data-toggle="tooltip" data-placement="top" title="Next: {{ nexttitle }}">>></a>{% endif %}
      
    </div>
</div>
</div>

<script>
    /* post pagination keyboard shortcuts */
    document.body.onkeyup = function(e){
      if (e.keyCode == '37') { window.location = '{{ prevurl }}'; } // left arrow key
      if (e.keyCode == '39') { window.location = '{{ nexturl }}'; } // right arrow key
    };
    </script>